{% load staticfiles %}
<!doctype html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static "birth_reminder/styles.css" %}">
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
</head>
<body>


<form action="/birth_reminder/save_message/" method="post",id="user_form">
    {% csrf_token%}
    {{form.as_p}}
    <input type="reset" value="Reset" />
    <input type="submit" value="Save" />

</form>

<script src="{% static "birth_reminder/message.js" %}"></script>
</body>
</html>


