{% load staticfiles %}
<!doctype html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static "birth_reminder/styles.css" %}">
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
</head>
<body>



<form action="/birth_reminder/save_message/" method="post",id="user_form">
    {% csrf_token%}
    <a href="/logout"> Log out </a>
    {{form.as_p}}
    <div id="id_tip">* Please use:{last_name},{first_name},{middle_name},{date_of_birth},{email},{gender},{age} to
    represent patient's information.</div>
    <div>
    <input type="reset" value="Reset" />
    <input type="submit" value="Save" /></div>

</form>

<script src="{% static "birth_reminder/message.js" %}"></script>
</body>
</html>


